<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.HeroMapper">
	<select id="queryAll" parameterType="map" resultType="com.bw.bean.Hero">
		SELECT * from hero h , camp c where h.cid=c.cid
	</select>
</mapper>